
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    }
    
    
    #background {
        background-color: #000000;
        background-color: #ffffff;
        /*background-image: url(../Pictures/chopping.jpg);*/
        background-image: url(../Pictures/banner2.png.jpg);
        background-position: center;
        background-size: cover;
        display: table;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    
    /* CUSTOM TITLE FONT */
    @font-face {
        font-family: titleFont;
        src: url(../Fonts/QuiteMagicalRegular-8VA2.ttf);
    }
    
    
    
    
    #loginContainer * {
        color:#ffa600;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: #ffa600;
        font-family: titleFont;
        font-size: 1.7rem;
        font-size: 2rem;
        font-weight: thick;
        box-sizing: border-box;
    
    }
    
    #loginContainer {
        width: 80%;
        margin: 0 auto;
        position: relative;
        max-width: 1024px;
        float: right;
    }
    
    #inputContainer{
        width: 400px;
        padding: 45px;
        
        /*border-right: 5px solid #999999;*/
    }
    #inputContainer h2{
        text-align: center;
    }
    #inputContainer input[type="text"],
    #inputContainer input[type="email"],
    #inputContainer input[type="password"]{
        display: block;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #000000;
        height: 27px;
        line-height: 27px;
        width: 100%;
    }

   #inputContainer label{
        color: rgb(165, 13, 13);
        
        margin-top: 15px;
        display: block;
    }
    /* 
      color: tomato;
        font-size: 12px;
        font-size: 13px;
*/
    #inputContainer button{
        background-color: transparent;
        border: 2px solid #ffa600;
        border-radius: 250px;
        color: #ffffff;
        display: block;
        font-size: 16px;
        font-size: 2rem;
        letter-spacing: 1px;
        margin: 20px auto;
        height: 41px;
        width: 100%;
    }
    #inputContainer button:hover{
        cursor: pointer;
    }
    .hasAccountText span{
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        
    }
    .hasAccountText{
       text-align: center;  
    }
    #registerForm, #loginForm {
        display: none;
    }
    
    .errorMessage{
        color: tomato;
        display: block;
    }

    /* fixes navbar to the top so it is over the banner 
    
    background-color: rgba(0,0,0,0.5);
    */
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
    z-index: 100;
}
.nav-link{
    color: orange !important ;
}
.nav-link:hover{
    color: darkorange !important;
}


.quote{
    font-style: italic;
    color:  #b1a394;
}


 